body {
	background: url(https://abs.twimg.com/b/front_page/v1/JP_ASIA_4.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 75px;
}
.container {
	max-width: 60%;
	padding-top: 1%;
}
.container-fluid {
	max-width: 85%;
}
.introText {
	color: white;
	font-family: Helvetica;
}
h1 {
	font-weight: bold;
	font-size: 47px;
	padding-bottom: 20px;
	padding-right: 20px;
}
p {
	font-size: 20px;
	margin-right: 20px;
}
.signIn, .signUp {
	background-color: white;
	border-radius: 6px;
	padding: 15px;
}
.signIn {
	margin-bottom: 15px;	
}
.signUp {
	padding-bottom: 45px;
}
.sameLine {
	display: inline-block;
}
#signUpButton {
	background-color: #ffac33;
	background-image: linear-gradient(#ffcc4d,#ffac33);
	border: 0;
	float: right;
	color: white;
	font-weight: bold;
}
#signUpButton:hover, #post:hover {
	opacity: 0.8;
}
#signInButton {
	background-color: #55acee;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
	border: 0;
	float: right;
	color: white;
	font-weight: bold;
	height: auto;
	vertical-align: center;
	margin-top: 5px;
}
#signInButton:hover {
	opacity: 0.8;
}
input {
	margin: 0;
}
.someText {
  border-bottom: 1px solid #BBB;
	margin-bottom: 10px;
	padding-bottom: 10px;
	font-size: 15px;
}
.title {
	font-size: 30px;
	font-weight: bold;
}
.content {
	background-color: white;
	border-radius: 10px;
	padding: 20px 0;
}
.contPadding {
	padding: 20px;
}
.bld {
	font-weight: bold;
	font-size: 17px;
}
.topic {
	margin-bottom: 10px;
}
.singleTopic:hover, .singleUser:hover, .delete:hover {
	cursor: pointer;
	text-decoration: underline;
}
.singleUser {
	font-style: italic;
}
.row {
	margin: 0;
}
/*.clickToInput, .inputTopic {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}*/
.centering {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#userName, #password, #newUserName, #newPassword, #newEmail, #signInButton {
	margin: 5px 5px 5px 0;
}
#post {
	margin-top: 10px;
	background-color: #ffac33;
	background-image: linear-gradient(#ffcc4d,#ffac33);
	border: 0;
	float: right;
	color: white;
	font-weight: bold;
}
.topic {
	margin-bottom: 30px;
}
.singleUser {
	color: #777;
	margin-bottom: 10px;
}
.delete {
	color: red;
}